body {
  background-color: #dadada;
  font-size: 10px;
}


h1 {
  font-size: 2em;
  padding-left: 2em;
  padding-top: 1em;
  position: relative;
  float: left;
}

h2 {
  font-family: Helvetica, serif;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  text-align: center;
  margin-top: 2em;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.container {
  position: relative;
  margin-bottom: 1em;
}

.text {
  position: absolute;
  float: left;
}

.header {
    margin: 2em;
    display: block;
}




/*media query for tablet*/
@media screen and (min-width: 575px) {
   section {
     column-count: 2;
   }

   body {
     margin: 4em;
   }

/*media query for laptop*/
@media screen and (min-width: 991px) {
   section {
     column-count: 4;
  }

  body {
    margin: 12em;
  }
}
